.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: greenyellow;
}
.addJob {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.icon {
  padding-left: 10px;
}
